<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This Job will execute the Jmeter script. You just need to pass some parameter value in this. It just clones the Jmeter script from Git and runs the script   in Jmeter using Jenkins </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Thread</name>
          <description>Add the no. of threads here for the thread group. For Example-  1 
A Thread Group is a set of threads executing the same scenario
</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Ramp</name>
          <description>Add the ramp-up time here For Example-10
The ramp-up period tells JMeter how long to take to &quot;ramp-up&quot; to the full number of threads chosen.</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DriverPath</name>
          <description>Add the google driver path For Example-  /home/aditi/Downloads/chromedriver_linux64/chromedriver</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ApacheJmeter_Path</name>
          <description>Here you have to pass the path of you JMeter  directory For example -  /home/aditi/apache-jmeter-5.3
</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.3.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:KnoldusInc/Test-Automation.git</url>
        <credentialsId>Aditi</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>Feature/Issue4</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.30.0">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo $DriverPath

cp ${WORKSPACE}/JmeterSeleniumProject.jar ${ApacheJmeter_Path}/lib/junit
 echo &quot;copied&quot;
cd ${ApacheJmeter_Path}/bin
sh jmeter.sh -Jjmeter.save.saveservice.output_format=csv -JThread=$Thread -JRamp=$Ramp -JDriverPath=$DriverPath -n -t ${WORKSPACE}/SeleniumIntegration.jmc -l ${WORKSPACE}/${BUILD_ID}/Report/test.jtl -e -o ${WORKSPACE}/${BUILD_ID}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.performance.PerformancePublisher plugin="performance@3.17">
      <errorFailedThreshold>-1</errorFailedThreshold>
      <errorUnstableThreshold>-1</errorUnstableThreshold>
      <errorUnstableResponseTimeThreshold></errorUnstableResponseTimeThreshold>
      <relativeFailedThresholdPositive>-1.0</relativeFailedThresholdPositive>
      <relativeFailedThresholdNegative>-1.0</relativeFailedThresholdNegative>
      <relativeUnstableThresholdPositive>-1.0</relativeUnstableThresholdPositive>
      <relativeUnstableThresholdNegative>-1.0</relativeUnstableThresholdNegative>
      <nthBuildNumber>0</nthBuildNumber>
      <configType>ART</configType>
      <graphType>ART</graphType>
      <modeOfThreshold>false</modeOfThreshold>
      <failBuildIfNoResultFile>true</failBuildIfNoResultFile>
      <compareBuildPrevious>false</compareBuildPrevious>
      <optionType>ART</optionType>
      <modePerformancePerTestCase>false</modePerformancePerTestCase>
      <excludeResponseTime>false</excludeResponseTime>
      <modeThroughput>false</modeThroughput>
      <modeEvaluation>false</modeEvaluation>
      <constraints class="empty-list"/>
      <ignoreFailedBuilds>false</ignoreFailedBuilds>
      <ignoreUnstableBuilds>false</ignoreUnstableBuilds>
      <persistConstraintLog>false</persistConstraintLog>
      <sourceDataFiles>${WORKSPACE}/${BUILD_ID}/Report/test.jtl</sourceDataFiles>
      <filterRegex></filterRegex>
      <junitOutput></junitOutput>
      <percentiles>0,50,90,100</percentiles>
      <baselineBuild>0</baselineBuild>
    </hudson.plugins.performance.PerformancePublisher>
  </publishers>
  <buildWrappers/>
</project>